.name {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 5px;
}

.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: var(--primary-color);
}

.price::first-letter {
  font-size: 18px;
}
